[run]
# adjust sources to the actual Python package directories that should be measured
source =
    capture
    search

branch = True
omit =
    tests/*
    */tests/*
    */__init__.py
    data/*
    frontend/*

[report]
# show missing lines in the CLI and in the generated report
show_missing = True
skip_empty = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    @pytest.mark.skip
